@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@600&family=Roboto:wght@300;400&display=swap");

:root {
  --black-theme: #000;
  --white-theme: #fff;
}
* {
  font-family: "YekanBakh", "Roboto", Arial;
}

body {
  background-color: #1a1625;
  color: white;
  margin: 0;
  font-family: "YekanBakh", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-weight: 500;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.cardtheme {
  background-color: #45404f !important;
  color: white !important;
}
.phoneinfo:hover {
  color: var(--black-theme);
  transition: color 0.3s ease-in-out;
}
.homeicon:hover {
  color: var(--black-theme);
  transition: color 0.3s ease-in-out;
}
.linkitem:hover {
  color: #a193d9 !important;
  transition: color 0.3s ease-in-out;
}
.brandbox:hover {
  background-color: var(--white-theme);
}
.buttoncard:hover {
  background-color: var(--white-theme);
}
.scroll-to-top-button {
  display: block;
  position: fixed;
  border-radius: 0.5rem;
  bottom: 3rem;
  color: #8268ef;
  background: rgb(47, 43, 58);
  padding: 0.5rem;

  right: 4rem;
  height: 35px;
  font-size: 2rem;
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.scroll-to-top-button.show {
  display: block;
}

@media screen and (min-width: 600px) {
  .brandpd {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .brandpd {
    padding-bottom: 2rem;
  }
}
path {
  color: white !important;
}
